body {
    margin: 10px;
    font-family: 'Poppins', sans-serif;
    background-color: #FEE140;
    background-image: linear-gradient(90deg, #FEE140 0%, #FA709A 100%);
    
}

.job_submitted-css {
    width: 600px;
    background-color: rgb(255, 255, 255);
    padding: 30px;
    border-radius: 10px;
    margin-top: 30px;
    box-shadow: 2px 2px 20px darkslateblue;
   
}

.btn {
    margin-top: 20px;
    background-color: white;
    font-size: 15px;
    border: 2px solid rgb(243, 169, 9);
    color: rgb(243, 169, 9);
    font-weight: 500;
    padding: 15px 15px;
    font-size: 15px;
}

.btn:hover {
    background-color: rgb(243, 169, 9);
    color: white;
}

h1 {
    margin-top: 20px;
    color:rgb(243, 169, 9);
    font-weight: 700;
    padding: 15px;
}

p {
    margin-top: 20px;
    color: rgba(45, 56, 43, 0.712);
    font-weight: 500;
}

h2 {
    margin-top: 20px;
    color:rgb(236, 153, 29);
    font-size:20px;
    /* color: rgba(45, 56, 43, 0.712); */
}