<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Job Submitted</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css"
        integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="../static/css/job_submitted.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap" rel="stylesheet">

</head>

<body>
    <div class="container job_submitted-css text-center user-select-none">
        <lottie-player src="https://assets6.lottiefiles.com/temp/lf20_4Jjg2l.json" background="transparent" speed="0.8"
            style="width: 300px; margin-left: 120px;" loop autoplay></lottie-player>
        <h1>Congratulations!!</h1>
        <p>Your job has been successfully added in the queue. You'll get notified over an email once the job is
            completed</p>
        <h2>Want to submit more such jobs?</h2>
        <a href='/'><button class="btn">Return back to home</button></a>
    </div>

    <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.min.js"
        integrity="sha384-cn7l7gDp0eyniUwwAZgrzD06kc/tftFf19TOAs2zVinnD/C7E91j9yyk5//jjpt/"
        crossorigin="anonymous"></script>
</body>

</html>